#d-tile-ed {
        width: 15rem;
        margin: 0 auto 2rem auto;
        background: white;
        color: black;
        text-align: center;
        padding: 0.5rem 2rem 0.5rem 2rem;
        background-color: lightgray;
        border: none;
        border-radius: 5px;
        /*display: inline-block; */
}

#ed-title {
font-size: 1.25rem;
font-weight: bold;
}

#education-holder{

}