#d-tile-ed {
        width: 15rem;
        margin: 1rem auto 0 auto;
        background: white;
        color: black;
        text-align: center;
        padding: 0.5rem 2rem 0.5rem 2rem;
        border: solid 1px black;
}