
#projects-container {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#project-title {
    font-size: 1.25rem;
    font-weight: bold;
}

#project-tile {
    width: 15rem;
    margin: 0 1rem 0 1rem;
    background: lightgray;
    color: black;
    display: inline-block;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 5px;
}

#project-tile:hover {
    background-color: white;
    cursor: pointer;
}

#remember-tile {
    width: 50%;
    margin: 0 auto 0 auto;
    background: white;
    color: black;
    text-align: left;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 5px;
}

#d-setup-img {
    background-image: url(../images/setup.png);
    width: 15rem;
    height: 15rem;
    background-repeat: no-repeat;
    margin: auto;
}

#d-snippet-img {
    background-image: url(../images/code_snippet.png);
    background-repeat: no-repeat;
    width: 30rem;
    height: 7rem;
    margin: auto auto 0 auto;
}